<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&amp;subset=latin-ext" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Teaps</title>
</head>

<body>
    <div id="app">
    <div class="money">
        <div class="glass"></div>
        <div class="summary">
            <div class="images">
                <img src="img/1_grosz.png" alt="">
                <img src="img/2_grosze_2017.png" alt="">
                <img src="img/5_groszy_jpg.png" alt="">
                <img src="img/10_gr_mini_1_01.png" alt="">
                <img src="img/20_gr_mini_1_01.png" alt="">
                <img src="img/50_gr_mini_1_01.png" alt="">
                <img src="img/1_zl_mini_1_01.png" alt="">
                <img src="img/2zl_mini_1_01.png" alt="">
                <img src="img/5zl_mini_1_01.png" alt="">
                <img src="img/4213d4154183bc179091bdbadd46.jpg" alt="">
            </div>
            <div class="inputs">
                <input type="number" name='one-penny' data-penny=1 readonly v-model="coins[0]">
                <input type="number" name='two-penny' data-penny=2 readonly v-model="coins[1]">
                <input type="number" name='five-penny' data-penny=5 readonly v-model="coins[2]">
                <input type="number" name='ten-penny' data-penny=10 readonly v-model="coins[3]">
                <input type="number" name='twenty-penny' data-penny=20 readonly v-model="coins[4]">
                <input type="number" name='fifty-penny' data-penny=50 readonly v-model="coins[5]">
                <input type="number" name='one-zloty' data-penny=100 readonly v-model="coins[6]">
                <input type="number" name='two-zlotys' data-penny=200 readonly v-model="coins[7]">
                <input type="number" name='five-zlotys' data-penny=500 readonly v-model="coins[8]">
                <input type="number" name='ten-zlotys' data-penny=1000 readonly v-model="coins[9]">
            </div>
        </div>
        <div class="pig">
            <div class="amount">{{beautyAmount(sum())}}</div> <img src="img/piggy-bank-1001599_640.png" alt="">
            <div class="start-amount"></div>
        </div>
        <button class="actualization" @click="startPiggyValue"> aktualizuj</button>
    </div>
    <div class="employees">
        <div class="description">

        </div>

        <div class="employee" v-for='worker in czarka'>
            <input type="checkbox" v-model="worker.today">
            <div class="name">{{worker.name}}</div>
            <div class="sum" :style="{ width: worker.money * 30 + 'px' }">{{worker.money.toFixed(2) + ' zł'}}
            <div class="start-amount"></div>
                <button class="take-money" :class="{'show': worker.money >= 10}" @click='take10zlotys(worker)'>Weźże dychę</button>
            </div>
        </div>

        
        <div class="employee new">
            <input type="checkbox" name="" id="">
            <input class='new-employee' type="text" placeholder="nowa osoba" v-model='newEmployee'>
            <button @click='addEmployee'>+</button></div>

    </div>
    <div class="logbook">
        <h2>dziennik napiwków</h2>
        <div class="table">
            <div class="nav">
                <div class="date">Data</div>
                <div class="stuff">Czarkownicy</div>
                <div class="amount">Kwota</div>
            </div>
            <div class="day" v-for='summary in summaries'>
                <div class="date">{{summary.date}}</div>
                <div class="stuff">{{summary.participants.join(', ')}}</div>
                <div class="amount">{{summary.sum}}</div>
            </div>
        </div>
    </div>
    <div class="latest-payouts">
        <h2>ostatnie wypłaty</h2>
        <div class="table">
            <div class="nav">
                <div class="date">Data</div>
                <div class="stuff">Osoba wypłacająca</div>
            </div>
            <div class="day" v-for='payment in payments'>
                <div class="date">{{payment.date}}</div>
                <div class="stuff">{{payment.name}}</div>
            </div>

        </div>

    </div>

    <div class="tips-form">
            <h3>+{{newTips}}</h3>

        <ul>
            <li v-for="worker in todayWorkers">
                <span>{{worker.name}}</span>
                <select name="hours" id="hours" v-model="worker.hours">
                        <option value="1">cała zmiana</option>
                        <option value="0.5">pół zmiany</option>
                        <option value="2">podwójna zmiana</option>
                </select>
            </li>
        </ul>
        <button class = "save-changes" @click= "newCalculation">Zapisz zmiany</button>
    </div>
</div>

<script src="teaps.js"></script>
</body>

</html>